<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtYHLf4VnSvuo-BQzArKAHG31ebl6ufyg</string>
	<key>GCM_SENDER_ID</key>
	<string>224782797768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.funeralMenu</string>
	<key>PROJECT_ID</key>
	<string>funeral-menu</string>
	<key>STORAGE_BUCKET</key>
	<string>funeral-menu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224782797768:ios:51293b51368e8c6c9dcefd</string>
	<key>DATABASE_URL</key>
	<string>https://funeral-menu-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>